@import "../../../../styles/variables.scss";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
  width: 125px;
  transition: 0.3s;
  cursor: pointer;

  .day__info,
  .info,
  .temp__night {
    color: $base-color;
  }

  .img,
  .day__info {
    margin-bottom: 12px;
  }

  .info,
  .temp__night {
    font-size: 13px;
  }

  .temp__day,
  .day {
    color: var(#{--text-color-default});
    font-size: 14px;
    font-weight: 500;
  }

  .day {
    margin-bottom: 7px;
  }

  .day__info {
    font-size: 14px;
  }

  .temp__night {
    margin-bottom: 6px;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}
