@import "../../../../styles/variables.scss";

.this__day {
  padding: 25px;
  max-width: 350px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
  svg {
    width: 110px;
    height: 110px;
  }
  .this__temp {
    font-size: 75px;
    font-weight: 500;
    color: $primary-color;
  }
  .this__day_name {
    font-size: 30px;
    color: var(#{--text-color-default});
  }
}

.bottom__block {
  .this__time,
  .this__city {
    color: $base-color;
    font-size: 20px;
  }
}
